@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,700,800&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

p, blockquote {
  font-size: .9em;
  line-height: 1.5em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.container {
  text-align: center;
  padding: .8em;
}

.logo {
  margin: -12px;
}

header {
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.menu2 {
  width: 25px;
  margin-top: 70%;
  padding-right: 10px;
}

.menu-text {
  text-decoration: none;
  font-weight: 400;
  font-size: .8em;
}

.hide-mobile {
  display: none;
}

h1 {
  font-size: 1.8em;
  font-weight: 800;
}

.slider {
  background-image: url('https://images.unsplash.com/photo-1444210971048-6130cf0c46cf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80');
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  text-align: center;
  top:0;
  bottom:0;
  width: 100%;
  max-width: 100%;
  height: 80vh;
  display: table;
  margin: 0;
  z-index: -10;
}

.head {
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom:0;
  height: 100%;
  width: 100%;
  z-index: -5;
  display: table-cell;
  vertical-align: middle;
}

.head h1 {
  margin:0;
}

.head p {
  font-size: 1em;
  margin: 0;
  font-weight: 300;
  font-style: italic
}

.orange-container {
  width: 100%;
  color: #fff;
  padding: 2em 0 2em;
}

.orange-container ul {
  padding: 2.5em;
}

.orange-container li {
  box-shadow: -1px 15px 45px 4px rgba(255,118,57,0.36);
  border-radius: 5%;
  padding: 1.5em;
  margin-right: 2.5em;
  margin-left: 2.5em;
  margin-bottom: 4em;
  background-image: linear-gradient(to right, #ff4744 , #ff7639);
}

.icon {
  width: 24%;
}

.gray-container {
  background: #f6f6f6;
  padding: 4em 0 2em;
  margin-top: -3%;
}

.gray-container ul li img {
  width: 45%;
}

.gray-container ul li:first-child {
  margin-bottom: 2em;
}

figure {
  margin: 0;
  padding: 0;
}

figcaption {
  font-weight: bold;
  color: #ffa500;
}

h2 {
  margin-top: 7%;
}

.cta {
  background: #ffa500;
  width: calc(100% - 5em);
  display: block;
  color: #fff;
  border-radius: 40px;
  padding: .5em;
  text-decoration: none;
  font-size: 1.5em;
  margin: 3% auto 7%;
  position: relative;
  z-index: 4;
}

.footer-container {
  width: 100%;
  background: #3D444A;
  color: #fff;
  padding: 3em 0;
  border-top-right-radius: 40px;
  transform: skewY(2deg);
}

.footer-container . .container {
  transform: skewY(-2deg);
}

.footer-container:before {
  content: "";
  width: 40px;
  height: 40px;
  background-color: #3D444A;
  position: absolute;
  top: -39px;
  left: 0;
  z-index: -2;
}

.footer-container::after {
  content: "";
  width: 80px;
  height: 80px;
  background-color: #fff;
  position: absolute;
  z-index: -1;
  top: -80px;
  left: 0;
  border-radius: 50%;
}

ul.footer-links {
  margin: 0 auto;
}

ul.footer-links li {
  display: inline-block;
}

ul.footer-links li a {
  color: #9d9d9d;
  font-size: .8em;
}

nav ul {
  position: fixed;
  width: 60%;
  top: 0;
  right: 0;
  text-align: left;
  background: rgb(36,41,44);
  height: 100%;
  z-index: 7;
  padding-top: 3em;
}

nav ul li a {
  color: white !important;
  display: block;
  width:100%;
  padding: 1em 2em;
  background-color:  rgb(49,55,59);
}

nav ul li a:hover{
  background-color:  rgb(65,73,78);
}

.exit-btn {
  margin-bottom: 1em;
  margin-top: -1.3em;
  text-align: right;
  padding: 0 1.4em;
}

.exit-btn img {
  width: 25px;
  cursor: pointer;
}

@media only screen and (min-width: 650px){

  h1 {
    font-size: 3em;
    margin: 0;
  }

  .head p {
    font-size: 1.4em;
  }

  .orange-container {
    margin: 0;
  }

  .orange-container img{
    width: 30%;
  }

  .orange-container ul {
    display: flex;
    align-items: center;
    margin-bottom: -2em;
    padding: 0;
  }

  .orange-container li {
    margin-right: 1em;
    margin-left: 1em;
  }

  .orange-container ul li p {
    font-size: .8em;
  }


  .gray-container ul {
    display: flex;
    justify-content: center;
  }

  nav ul {
    width: 40%;
  }

  .cta {
    width: calc(100% - 10em);
  }



}

@media only screen and (min-width: 875px) {

    .orange-container img{
      width: 25%;
    }

    .orange-container ul {
      padding: 1em 2em;
    }

    .orange-container li {
      margin-right: 1.5em;
      margin-left: 1.5em;
    }

    .orange-container li p {
      line-height: 1.3em;
    }

    .gray-container ul li img {
      width: 70%;
    }
    
    .gray-container ul li {
      padding: 0em 5em;
    }
    
    .cta {
      width: calc(100% - 20em);
    }
    

  }

  @media only screen and (min-width: 1024px) {

    .orange-container li {
      margin-right: 1.5em;
      margin-left: 1.5em;
      padding: 2em 0;
    }

    .cta {
      width: 30%;
    }

    .container{
      width: 90%;
      margin: 0 auto;
    }

    .show-desktop {
      display: block;
    }

    .hide-desktop {
      display: none;
    }

    nav ul {
      position: inherit;
      width: auto;
      background: none;
      height: none;
      display: flex;
      padding-top: 0;
    }

    nav ul li {
      float: left;
    }

    nav ul li a{
      color: #000;
      background-color: inherit;
      text-align: center;
      padding: 2em 2em;
    }


    nav ul li a:hover {
      background-color: inherit;
    }

    .menu-text {
      font-weight: 400;
      text-decoration: none;
      font-size: .8em !important;
      color: #000 !important;
      transition: all .2s ease-in-out;
    }
    
    .menu-text:hover {
      color: #ffa500 !important;
    }

    head img {
      width: 10px;
    }
  }