@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,700,800&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

p, blockquote {
  font-size: .9em;
  line-height: 1.5em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.container {
  text-align: center;
  padding: .8em;
}

.logo {
  width: 60px;
  padding: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  height: 75px;
}

.menu2 {
  width: 25px;
  margin-top: 60%;
  padding-right: 10px;
}

.menu {
  display: flex;
  padding: 25px 80px;
}

.hide-mobile {
  display: none;
}

.menu li {
  margin-left: 50px;
}

.menu-text {
  font-weight: bold;
  text-decoration: none;
  font-size: .8em;
  color: #000;
  transition: all .2s ease-in-out;
}

.menu-text:hover {
  color: #ffa500;
  font-size: .9em;
}

h1 {
  font-size: 1.8em;
  font-weight: 800;
}

.slider {
  background-image: url('https://images.unsplash.com/photo-1444210971048-6130cf0c46cf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80');
  color: white;
  background-repeat: no-repeat;
  background-size: cover;

  text-align: center;
  top:50%;
  left:50%;
  width: 100%;
  max-width: 100%;
  height: 80vh;
  display: table;
  margin: 0;
  z-index: -10;
}

.head {
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom:0;
  height: 100%;
  width: 100%;
  z-index: -5;
  display: table-cell;
  vertical-align: middle;
}

.head h1 {
  margin:0;
}

.head p {
  font-size: 1em;
  margin: 0;
  font-weight: 300;
  font-style: italic;
}

.orange-container {
  width: 100%;
  background: #ffa500;
  color: #fff;
  padding: 2em 0 2em;
}

.orange-container ul {
  padding: 2.5em;
}

.orange-container li {
  margin-bottom: 4em;
}

.icon {
  width: 24%;
}

.gray-container {
  background: #f6f6f6;
  padding: 4em 0 2em;
  margin-top: -3%;
}

.gray-container ul li img {
  width: 45%;
}

.gray-container ul li:first-child {
  margin-bottom: 2em;
}

figure {
  margin: 0;
  padding: 0;
}

figcaption {
  font-weight: bold;
  color: #ffa500;
}

h2 {
  margin-top: 7%;
}

.cta {
  background: #ffa500;
  width: calc(100% - 5em);
  display: block;
  color: #fff;
  border-radius: 40px;
  padding: .5em;
  text-decoration: none;
  font-size: 1.5em;
  margin: 3% auto 7%;
  position: relative;
  z-index: 4;
}

.footer-container {
  width: 100%;
  background: #3D444A;
  color: #fff;
  padding: 3em 0;
  border-top-right-radius: 40px;
  transform: skewY(2deg);
}

.footer-container . .container {
  transform: skewY(-2deg);
}

.footer-container:before {
  content: "";
  width: 40px;
  height: 40px;
  background-color: #3D444A;
  position: absolute;
  top: -39px;
  left: 0;
  z-index: -2;
}

.footer-container::after {
  content: "";
  width: 80px;
  height: 80px;
  background-color: #fff;
  position: absolute;
  z-index: -1;
  top: -80px;
  left: 0;
  border-radius: 50%;
}

ul.footer-links {
  margin: 0 auto;
}

ul.footer-links li {
  display: inline-block;
}

ul.footer-links li a {
  color: #9d9d9d;
  font-size: .8em;
}